<?xml version="1.0"?>
<config>
    <modules>
        <JR_CreateAdminController>
            <version>1.0.0</version>
        </JR_CreateAdminController>
    </modules>
    <global>
        <helpers>
            <jr_createadmincontroller>
                <class>JR_CreateAdminController_Helper</class>
            </jr_createadmincontroller>
        </helpers>
        <blocks>
            <jr_createadmincontroller>
                <class>JR_CreateAdminController_Block</class>
            </jr_createadmincontroller>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <JR_CreateAdminController before="Mage_Adminhtml">JR_CreateAdminController_Adminhtml</JR_CreateAdminController>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <jr_createadmincontroller>
                    <file>jr_createadmincontroller.xml</file>
                </jr_createadmincontroller>
            </updates>
        </layout>
    </adminhtml>
</config>